// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#items-chooser {
  .card {
    width: 20rem;
    img.card-img-top {
      height: 200px;
      object-fit: cover;
    }
    .card-footer {
      .price { float: left; }
      a.btn { float: right; }
    }
  }
}
