// Place all the styles related to the Order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sales-monitor {
  .btn-group-vertical {
    width: 100%;
    margin-bottom: 5px;
  }

  table {
    p.ordered-item {
      margin-bottom: 5px;
    }
    .total-sales {
      background: #525252;
      color: white;
    }
  }
}
